@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

* {
  font-family: "Caprasimo";
}

body {
  margin: 0;
}

.indexBody {
  background-image: url("./animalImages/indexBackground.jpeg");
}

.dinoBody {
  background-image: url("./animalImages/dinoBackground.jpeg");
}

.octoBody {
  background-image: url("./animalImages/octoBackground.jpeg");
}

.uniBody {
  background-image: url("./animalImages/uniBackground.jpeg");
  background-size: cover;
}

#clickInst {
  color: white;
  text-shadow: 5px 5px black;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.popupContent {
  background-color: #add8e6;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
  border-radius: 5%;
  color: ivory;
  text-shadow: 2px 2px black;
}

#petGenerator {
  color: #aaa;
  float: right;
  margin: -5px;
}

#petGenerator:hover,
#getGenerator:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.statbars {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.gameBtns {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.gameBtns > button {
  align-self: center;
}

h1 {
  text-align: center;
  font-size: 75px;
}

.mainHeader {
  border-radius: 50%;
  background-color: cornflowerblue;
  border: 5px black;
  border-style: solid;
  text-shadow: 2px 2px deeppink;
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.dinoHeader {
  border-radius: 50%;
  background-color: darkseagreen;
  text-shadow: 2px 2px greenyellow;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.octoHeader {
  border-radius: 50%;
  background-color: coral;
  text-shadow: 2px 2px red;
  color: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.uniHeader {
  border-radius: 50%;
  background-color: darkmagenta;
  text-shadow: 2px 2px red;
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

h3 {
  text-align: center;
  font-size: 50px;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#homeBtn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

button {
  font-size: 25px;
  border-radius: 5px;
}

.dinoScoreKeeper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkseagreen;
  border-radius: 50%;
  border: greenyellow 5px;
  border-style: dashed;
  text-shadow: 2px 2px greenyellow;
  color: green;
}

.octoScoreKeeper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: coral;
  border-radius: 50%;
  border: red 5px;
  border-style: dashed;
  text-shadow: 2px 2px red;
  color: firebrick;
}

.uniScoreKeeper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkmagenta;
  border-radius: 50%;
  border: red 5px;
  border-style: dashed;
  text-shadow: 2px 2px red;
  color: pink;
}

.dinoImageContainer {
  width: 100vw;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.dinoImageContainer > img {
  width: 400px;
  display: none;
  background-color: white;
  border-radius: 50%;
  border: 2px black;
  border-style: solid;
}

.octoImageContainer {
  width: 100vw;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.octoImageContainer > img {
  width: 150px;
  display: none;
  background-color: white;
  border-radius: 25%;
  border: 2px black;
  border-style: solid;
}

.uniImageContainer {
  width: 100vw;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.uniImageContainer > img {
  width: 150px;
  display: none;
  background-color: white;
  border-radius: 25%;
  border: 2px black;
  border-style: solid;
}
